################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/os_simulator/msvc/boot/boot.VC.VC.opendb
/os_simulator/compiled
