################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

!.gitignore

/os_simulator/compiled/*
/os_simulator/msvc/*

!/os_simulator/msvc/boot/boot.sln
!/os_simulator/msvc/boot/boot.vcxproj
!/os_simulator/msvc/boot/boot.vcxproj.filters
!/os_simulator/msvc/boot/boot.vcxproj.user

!/os_simulator/msvc/kernel/kernel.sln
!/os_simulator/msvc/kernel/kernel.vcxproj
!/os_simulator/msvc/kernel/kernel.vcxproj.filters
!/os_simulator/msvc/kernel/kernel.vcxproj.user

!/os_simulator/msvc/user/user.sln
!/os_simulator/msvc/user/user.vcxproj
!/os_simulator/msvc/user/user.vcxproj.filters
!/os_simulator/msvc/user/user.vcxproj.user
